p.negrito {
  font-weight: bold;
}

p.italico {
  font-style: italic;
}

p.pizza {
  padding-left: 24px;
}

img {
  width: 300px;
  height: 300px;
}

img.music {
  padding-left: 25px;
}

div.profissao :not(profissao) {
  padding-left: 25px;
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
}

details p {
  color: black;
}
